Package: %%PACKAGE%%
Version: %%VERSION%%
Section: base
Priority: optional
Architecture: %%ARCHITECTURE%%
Depends: %%DEPENDS%%
Maintainer: Sean Fitzgerald <boomer@fitzgeralds.me>
Description: %%DESCRIPTION%%

