#!/bin/bash
# shutdown existing services
function stop_service() {
  local NAME=$1
  invoke-rc.d ${NAME} stop
}

if [[ -f "/etc/init.d/boomer-speech-client" ]]; then
  stop_service "boomer-speech-client"
fi

if [[ -f "/etc/init.d/boomer-skills" ]]; then
  stop_service "boomer-skills"
fi

if [[ -f "/etc/init.d/boomer-messagebus" ]]; then
  stop_service "boomer-messagebus"
fi

if [[ -f "/etc/init.d/boomer-enclosure-client" ]]; then
  stop_service "boomer-enclosure-client"
fi
